<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h1>My note</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p>簡単に支出管理ができる家計簿アプリです。</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mt-5">
      <h2><%= link_to "ログイン",new_user_session_path %>|
          <%= link_to "新規登録", new_user_registration_path %></h2>
    </div>
  </div>

</div>
