<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <div class="top">
        <h1>My note</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p>簡単に支出管理ができる家計簿アプリです。</p>
    </div>
  </div>
<div class="top">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h2>
        <%= link_to "LogIn",new_user_session_path, class:'text-dark' %>  
        <%= link_to "SignUp", new_user_registration_path, class:'text-dark' %>
      </h2>
    </div>
  </div>
</div>
</div>
