<div class="container col-10">
  <div class="row justify-content-around">
    <div class="col-5 mt-5">
      <h2>使ったお金</h2>
      <% @user.each do |user| %>
        <% user.spendings.each do |s| %>
        <div class="card" style="width: 18rem;">
  　　　　　　<div class="card-body">
            <h5><%= s.user.name %>さん</h5>
            <p><%= s.genre.name %>
            <%= s.spending_amount %>円
            <%= s.memo %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>