
<div class="container col-12">
  <div class="row">
    <div class="col-xs-12 col-md-4 text-center mb-3 mt-5">
      <h2>カレンダー</h2>
    </div>
    <div class="col-xs-12 col-md-5 text-center mt-5 text-success">
      <p><%= flash[:success] %></p>
    </div>
  </div>



    <%= month_calendar events: @spendings do |date, spendings| %>
      <%= date.day %>

      <% @sum = 0 %>
      <% spendings.each do |spending| %>
        <% @sum += spending.spending_amount %>
      <% end %>

        <div class="spending text-dark">
            <%= @sum.to_s(:delimited) %>

        </div>


    <% end %>
</div>


