  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h2>先月の支出
          <% @sum = 0 %>
          <% @last_month.each do |last| %>
            <% @sum += last.spending_amount %>
          <% end %>
            <%= @sum.to_s(:delimited) %>円
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-5">
        <%= pie_chart @chart, donut: true, suffix: "円" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
  　　  　<% @genres.each do |genre| %>
          <h3>
            <div class="row">
              <div class="col-6 text-right mt-3">
                <%= genre.name %>
              </div>
                <% @sum = 0 %>
                <% genre.spendings.where(start_time: Time.current.last_month.all_month).each do |spending| %>
                  <% if spending.user.id == @user.id%>
                    <% @sum += spending.spending_amount %>
                  <% end %>
                <% end %>
              <div class="col-6 text-left mt-3">
                 ¥<%= @sum.to_s(:delimited) %>
              </div>
            </div>
          </h3>
        <% end %>
      </div>
    </div>
</div>