  <div class="main-visual">
    <div class="main-visual-content">
      <h2><p class="main-visual-text">簡単に支出管理ができる家計簿アプリです</p></h2>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-6 text-right mt-5 mb-5">
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-secondary" %>
    </div>
    <div class="col-6 text-left mt-5 mb-5">
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-secondary" %>
    </div>
  </div>
</div>


