<div class="container">

  <div class="row">
    <div class="col-5 mt-5 text-center">
      <h2>目標</h2>
    </div>
  </div>

  <div class="text-center">
    <h4><%= @goal.goal %><%= link_to "編集", edit_goal_path, class:"text-dark" %></h4>
  </div>
  <div class="row">
    <div class="col-7 mt-5 text-center">
      <h2>いいねしたユーザー</h2>
    </div>
  </div>
  <div class="text-center">
    <% @goal.liked_users.each do |user| %>
      
          <%= link_to user_path(user), class:"text-dark" do %>
          <h4><%= user.name %></h4>
          <% end %>
      
    <% end %>
  </div>


</div>