// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-visual {
  width: 100%;
  height: 600px;
  background-image: image-url('19ellyri529G.jpg');
  background-size: cover;
}

.main-visual-content {
  width: 100%;
  height: 600px;
  text-align: center;
  padding-top: 300px;
}

.main-visual-text {
  color: #4579C4; 
}